body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    color: #333;
    font: 12px/20px "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", HELVETICA;
    background: #fff; /* overflow-y:scroll;*/
}

em {
    font-style: normal
}

li {
    list-style: none
}

fieldset, img {
    border: none;
}

img {
    border: 0;
    vertical-align: middle
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

input::-moz-focus-inner {
    border: none;
    padding: 0;
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

input[type="text"], input[type="password"], textarea {
    outline-style: none;
    -webkit-appearance: none;
}

none
textarea {
    resize: none;
}

p {
    word-wrap: break-word
}

table {
    border-collapse: collapse;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearit {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #ff8400;
    text-decoration: none;
}

.top {
    background: #FCFCFC;
    width: 100%;
    height: 36px;
    line-height: 37px;
    border-bottom: 1px solid #EDEEF0;
    color: #828282;
    font-size: 12px;
    font-family: "宋体";
}

.top a {
    margin-right: 35px;
}

.top a:first-child {
    margin-left: 10px;
}

.wrapper {
    width: 1150px;
    margin: 0 auto;

}

.fl {
    float: left;
}

.fr {
    float: right;
}

.main_nav {
    width: 100%;
    height: 100px;
    border-bottom: 3px solid rgb(216, 0, 15)
}

.logo {
    background: url("../images/Logo.png");
    margin-top: 16px;
}

.right_nav {
    margin-left: 60px;
    margin-top: 25px;
    font-family: "微软雅黑";
    font-size: 12px;
}

.right_nav > ul li {
    display: inline-block;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right_nav span {
    margin-left: 15px;
    margin-right: 20px;
}

.right_nav_1 {
    background: url("../images/zixun.png") no-repeat left center;
}

.right_nav_2 {
    background: url("../images/chanpin.png") no-repeat left center;
}

.right_nav_3 {
    background: url("../images/pinpai.png") no-repeat left center;
}

.right_nav_4 {
    background: url("../images/shangji.png") no-repeat left center;
}

.right_nav_5 {
    background: url("../images/tuku.png") no-repeat left center;
}

.right_nav_6 {
    background: url("../images/baike.png") no-repeat left center;
}

.right_nav_7 {
    background: url("../images/gongqiu.png") no-repeat left center;
}

/*.right_nav > ul li img {*/

/*margin-top: 30px;*/
/*}*/

/*.right_nav > ul li span {*/
/*margin-left: 15px;*/
/*margin-right: 20px;*/
/*}*/

.zhaoshang {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #EDEEF0;
    font-family: "微软雅黑";
}

.tab_zhaoshang li {
    display: inline-block;
    padding: 10px;
}

.tab_zhaoshang .active li {
    background: #d8000f;;
    color: #FFF;
}

/*左侧内容*/
.content_left {
    width: 800px;
}

.banner {
    font-size: 14px;
    font-family: "微软雅黑";
    margin: 15px 0;
    color: rgb(189, 174, 174);
}

.banner span {
    margin-right: 20px;
}

.jieshao {
    width: 100%;
    height: 165px;
    border: 1px solid #EDEEF0;
}

.jieshao_left {
    width: 180px;
}

.jindi_logo {
    height: 160px;
    padding: 20px 20px 40px 20px;
}

.jindi_logo img {
    height: 114px;
    width: 192px;
}

.jieshao_center {
    width: 380px;
    margin-left: 225px;
    margin-right: 180px;
    font-size: 14px;
}

.jiashao_content {
    padding: 20px;
    line-height: 25px;
    font-family: "SimSun", "宋体";
}

.jieshao_center p:first-child {
    color: #888891;
    font-family: "微软雅黑";
}

.jiashao_content span {
    background: url("../images/xingji.png") no-repeat right;
    padding-right: 110px;
}

.jieshao_right {
    width: 160px;
    margin-right: 20px;
}

.jieshao_right button {
    width: 138px;
    height: 48px;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #fff;
    border: none;
    margin-top: 20px;

}

.jieshao_right p {
    width: 138px;
    height: 48px;
    text-align: center;
    padding-top: 14px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #fff;

}

.jieshao_right a {
    display: block;
    width: 138px;
    height: 48px;
    margin-top: 20px;
}

.woyaoyouhui {
    background: rgb(255, 174, 47);
}

.shoucang {
    background: rgb(215, 215, 215);
}

.pingpaiyoushi,
.jiamengzhengce {
    position: relative;
    margin-top: 10px;
}

.pinpai_banner {
    background: url("../images/jiameng_bg.png") no-repeat;
    height: 50px;
}

.pinpai_banner span {
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: 18px;
    color: #fff;;
    font-family: "微软雅黑";
}

.pinpai_content p {
    padding: 10px 50px 35px 25px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #828282;
    line-height: 25px;
}

.woyaojiameng {
    width: 778px;
    height: 488px;
    border: 1px solid #EDEEF0;
}

.jiameng {
    margin-left: 5%;
    font-family: "微软雅黑";

}

.jiameng button {
    width: 138px;
    height: 48px;
    font-size: 20px;
    background: rgb(255, 174, 47);
    color: #fff;
    border: none;
    margin-top: 20px;
}

.touzi ul li,
.lianxi ul li {
    display: inline-block;
    margin-right: 10px;
}

.lianxi ul {
    padding-top: 10px;
    margin-right: 38%;
}

.touzi {
    background: #f3f3f3;
}

.touzi ul {
    padding-top: 10px;
    margin-right: 30%;
}

.lianxi p, .touzi p {
    padding-top: 10px;
}

.lianxi, .touzi {
    margin-left: 5%;
    width: 600px;
    height: 37px;
    border-bottom: 1px dashed #ccc;
}

.info {
    margin: 10px 0 0 5%;
}

.info_left {
    width: 280px;
}

.info_left .label {
    padding-left: 20px;
    width: 44px;
    font-size: 12px;
}

.info_right .label {
    padding-left: 20px;
    width: 64px;
    font-size: 12px;
}

.xing_bi {
    color: #f00;
}

.info_left input,
.info_right input {
    width: 160px;
    height: 25px;
    border: 1px solid #ccc;
}

#userName {
    background: url("../images/form_name.png") no-repeat 0 -4px;
}

#userMobile {
    background: url("../images/form_mobile.png") no-repeat 0 -4px;
}

#userPhone {
    background: url("../images/form_phone.png") no-repeat 0 -6px;
}

#userMSN {
    background: url("../images/form_msn.png") no-repeat 0 -4px;
}

textarea {
    margin-top: 10px;
    height: 140px;
    width: 275px;
}

/*.info_left button{*/
/*height: 30px;*/
/*width:95px;*/
/*border-radius: 5px;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*}*/
/*#likezixun{*/
/*margin: 14px 20px 0 35px;*/
/*background: rgb(255, 174, 47);*/
/*color: #fff;*/
/*}*/
.info_left button {
    width: 100px;
    height: 40px;
    border: none;
}

#likezixun {
    margin: 10px 10px 0 30px;
    background: url("../images/formbutton_03.png") no-repeat;
}

#reset {
    background: url("../images/formbutton_05.png") no-repeat;
}

.info_right {
    margin-right: 130px;
}

.liuyan_tip {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    padding-left: 20px;
    background: url("../images/liuyan_bg_03.png") no-repeat;
}

.kuaijie {
    color: #f00;
    font-weight: bold;
}

.kuaijie_list li {
    border-bottom: 1px dashed #ccc;
    line-height: 29px;
    margin-left: 35px;
    width: 260px;
    font-size: 12px;
    font-family: "宋体";
    list-style: disc;
}

.kuaijie_list li:last-child {
    border-bottom: none;
}

/*右侧内容*/
.content_right {
    width: 350px;
    font-family: "微软雅黑";
}

.jindi_info {
    margin-top: 44px;
    width: 300px;
}

.info_1 {
    padding-top: 35px;
    width: 260px;;
    margin: 0 auto;
    border-bottom: 1px dashed #ccc
}

.info_1 img {
    margin-left: 25%;
}

.info_1 h3 {
    margin: 15px 0 10px 0;
    text-align: center;
}

.info_1 p {
    text-align: center;
    margin-bottom: 20px;

}

.info_1 > div {
    width: 100px;
    margin: 15px auto;
    background: #ccc;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    height: 18px;
    padding-top: 4px;
}

.info_2 {
    width: 260px;
    margin: 0 auto;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 25px;
}

.info_2 p {
    text-align: center;;
}

.rexian {
    background: url("../images/rexian.png") no-repeat 70px;
}

.guanwei {
    background: url("../images/guanwei.png") no-repeat 70px;
}

.guanwang {
    background: url(../images/guanwang.png) no-repeat 70px;
}

.lianxi_fashi {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.rexaindianhua {
    color: #dd465f;
    font-size: 20px;
    font-weight: bold;
}

.guanweihao,
.guanwanghao {
    color: #828282;
    font-weight: bold;
}

.info_3 {
    margin: 0 auto;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 25px;
}

.info_3 p {
    text-align: center;
    padding-top: 160px;
    background: url("../images/weixinGZ.png") no-repeat center;
}

.info_4 {
    padding: 25px 0 0 20px;
    width: 260px;
    height: 90px;
}

.info_4 span {
    margin-top: 6px;
    margin-left: 20px;
}

.info_5 {
    width: 280px;
    margin: 0 50px 0 20px;
}

.info5_banner {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.info5_banner span {
    font-size: 20px;
}

.info5_img {
    height: 480px;
    width: 300px;
}

.info5_img li {
    margin-right: 20px;
}

.info5_img img {
    width: 130px;
    height: 105px;
}

.info5_img p {
    text-align: center;
    margin: 10px 0 20px 0;
    width: 130px;
}

.wenzhang_tab li {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 7px;
}

.wenzhang_tab li.active {
    color: #fff;
    background: #ee4433;
}

.info5_redianwenzhang div {
    width: 285px;
    height: 50px;
    border-bottom: 1px solid #eeeeee;
}

.info5_redianwenzhang .fl {
    font-size: 30px;
}

.rectangle-list li {
    width: 350px;
    height: 29px;
    margin: 6px 0;
    overflow: hidden;
}

.rectangle-list .top3 {
    background: #f00;
}

.rectangle-list p {
    width: 22px;
    height: 22px;
    background: #ccc;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    float: left;
    border: none !important;
}

.rectangle-list span {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    float: left;
    margin-left: 10px;
    width: 270px;
}




